<div class="card">
  <div class="card-header">
    <h1>Podgląd</h1>
  </div>
  <div class="card-block">
    <div class="card-title">
      <p>announcement id: {{announcement.id}}</p>
    </div>
    <div class="card-text">
      <p>announcement productKey: {{announcement.productKey}}</p>
      <p>announcement createData: {{announcement.createData}}</p>
      <p>announcement lastUpdated: {{announcement.lastUpdated}}</p>
      <p>announcement price: {{announcement.price}}</p>
      <p>announcement minQuantity: {{announcement.minQuantity}}</p>
      <p>announcement maxQuantity: {{announcement.maxQuantity}}</p>
      <p>announcement period: {{announcement.period}}</p>
      <p>announcement description: {{announcement.description}}</p>
      <p>announcement delivery: {{announcement.delivery}}</p>
      <p>announcement paymentDate: {{announcement.paymentDate}}</p>
      <p>announcement deliveryDate: {{announcement.deliveryDate}}</p>
      <p>announcement deliveryRange: {{announcement.deliveryRange}}</p>
      <p>announcement zipCode: {{announcement.zipCode}}</p>
    </div>
  </div>
</div>
