<div class="card card-image">
  <div class="card-block">
    <div class="card-title">
      Dziękujemy za dodanie ogłoszenia !
    </div>
  </div>
</div>
<div class="card card-transparent">
  <div class="card-block">
    <div class="card-title">
      <p>Dodaj ogłoszenie <a routerLink="/main-wall/new-announcement" routerLinkActive="active">	w tej samej kategorii</a></p>
      <p>Zobacz dodane <a [routerLink]="['/user-panel/my-announcement', idAnnouncement]" routerLinkActive="active" >ogłoszenie</a></p>
      <p>Wróć na <a routerLink="/main-wall" routerLinkActive="active">stronę główną</a></p>
    </div>
  </div>
</div>
