<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <h3 class="welcome">Rejestracja</h3>
      Lisboa UI
    </label>
    <div class="login-group">
      <input class="username" type="text" id="register_username" placeholder="Email">
      <input class="username" type="text" id="register_password" placeholder="Hasło">
      <input class="password" type="password" id="register_password_repeat" placeholder="Powtórz hasło">

      <button type="submit" class="btn btn-primary">Załóz konto</button>
      <a routerLink="/login" class="signup">Masz juz konto? Zaoguj się.</a>
    </div>
  </form>
</div>
