@import '~scss/base';

:host {
  .card {
    &-title {
      display: flex;
      justify-content: space-between;
    }

    &-text {
      display: flex;
      justify-content: space-between;
    }

    &-left {
      flex: 4;
    }

    &-right {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;
    }

    h3 {
      margin-top: 0;
    }

    &-id {
      @include responsive-text-size('description');
      opacity: 0.5;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
    }

    button, a.button, button.button {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .pt-table {
    display: flex;
    flex-wrap: wrap;

    &-column {
      flex: 0 0 100%;

      @include respond-above('large') {
        flex: 1;
      }
    }

    &-row {
      display: flex;
      flex: 1;

      padding: 5px 0;
    }

    &-cell {
      flex: 1;

      &:first-of-type {
        font-weight: 500;
        max-width: 150px;
      }
    }
  }

  .card.offer {
    .card-block {
      text-align: right;
    }
    .card-title {
      h3:first-of-type{
        margin-left: 0;
      }

    }

    .card-id {

    }

    .card-text {
      text-align: left;
    }

    .card-left {
      order: 1;

      @include respond-above('large') {
        order: 3;
      }
    }

    .card-right {
      align-items: flex-start;
      order: 2
    }

    .pt-table {

      &-column {

        @include respond-above('large') {

        }
      }

      &-row {

      }
    }

  }

  .announcement {
    &-title,
    &-price {
      margin: 0;
    }

    &-price {
      margin-left: 40px;
      flex-shrink: 0;
    }
  }
}
