<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <h3 class="welcome">Witaj w</h3>
      Lisboa UI
      <h5 class="hint">Zaloguj się lub zarejestruj jezeli nie masz jeszcze konta</h5>
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Email">
      <input class="password" type="password" id="login_password" placeholder="Hasło">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          Zapamiętaj
        </label>
      </div>
      <div class="error active">
        Niepoprawne hasło uzytkownika
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Zaloguj</button>
      <a routerLink="/register" class="signup">Załóz nowe konto</a>
    </div>
  </form>
</div>
