<div class="login-wrapper">
  <form class="login" [formGroup]="form">
    <label class="title">
      <h3 class="welcome">Witaj w</h3>
      Lisboa UI
      <h5 class="hint">Zaloguj się lub zarejestruj jezeli nie masz jeszcze konta</h5>
    </label>
    <div class="login-group">
      <input class="username" type="text" formControlName="username" placeholder="Email">
      <input class="password" type="password" formControlName="password" placeholder="Hasło">

      <button type="submit" class="btn btn-primary" (click)="login()">Zaloguj</button>
      <a routerLink="/rejestracja" class="signup">Załóz nowe konto</a>
    </div>
  </form>
</div>
