<div class="card card-no-shadow">
  <form [formGroup]="form" class="card-block">
    <div class="filter-section">
      <span class="filter-label">Produkt:</span>
      <pt-form-control-adapter formControlName="productKey" #productSelectRef>
        <pt-pretty-dropdown [options]="categoryList" (selectedOptionEmitter)="productSelectRef.setNewValue($event)"></pt-pretty-dropdown>
      </pt-form-control-adapter>
    </div>
    <div class="filter-section">
      <span class="filter-label">Województwo:</span>
      <pt-form-control-adapter formControlName="region" #regionsSelectRef>
        <pt-pretty-dropdown [options]="regions" (selectedOptionEmitter)="regionsSelectRef.setNewValue($event)"></pt-pretty-dropdown>
      </pt-form-control-adapter>
    </div>
  </form>
</div>
