<clr-dropdown>
  <button type="button" class="dropdown-toggle btn btn-link" clrDropdownTrigger>
    {{selectedOption ? selectedOption.label : placeholder}}
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
    <clr-dropdown *ngFor="let option of options">
      <button *ngIf="!option.options" type="button" clrDropdownItem (click)="onClick(option)">{{option.label}}</button>
      <button *ngIf="option.options" clrDropdownTrigger>{{option.label}}</button>
      <clr-dropdown-menu *ngIf="option.options">
        <button *ngFor="let nestedOption of option.options" (click)="onClick(nestedOption)" type="button" clrDropdownItem>
          {{nestedOption.label}}
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </clr-dropdown-menu>
</clr-dropdown>

