<div class="row comment">
  <div class="col-xs-3 icon">
    <clr-icon shape="user" size="48"></clr-icon>
  </div>
  <div class="col-xs-7">
    <div class="row">
      <span class="from from-text">{{comment.from}}</span>
    </div>
    <div class="row">
      <div class="cloud col-lg-12">
        <div class="row positive" *ngIf="comment.sentiment===positive">
          <clr-icon shape="thumbs-up"></clr-icon>
          <h3 class="positive sentiment-text">Pozytywny</h3>
        </div>
        <div class="row negative" *ngIf="comment.sentiment===negative">
          <clr-icon shape="thumbs-down"></clr-icon>
          <h3 class="negative sentiment-text">Negatywny</h3>
        </div>
        <div class="row">
          {{comment.content}}
        </div>
      </div>
    </div>
  </div>
</div>
