.card {
  &-title {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    display: flex;
    justify-content: space-between;
  }

  &-right {
    text-align: right;
  }

  &-id {
    opacity: 0.5;
  }
}

.announcement {
  &-title,
  &-price {
    margin: 0;
  }

  &-price {
    margin-left: 40px;
    flex-shrink: 0;
  }
}
