.card {
  &-title {
    display: flex;
    justify-content: space-between;
  }
}

.announcement {
  &-title,
  &-price {
    margin: 0;
  }

  &-price {
    margin-left: 40px;
    flex-shrink: 0;
  }
}
