<header class="header-6">
  <div class="container">
    <div class="row">
      <div class="branding">
        <a routerLink="/main-wall">
          <h3 class="app-name">Lisboa UI</h3>
        </a>
      </div>

      <div class="header-actions">
        <clr-dropdown class="clr-dropdown">
          <button class="nav-text" clrDropdownTrigger>
            rolnik@janusz.com
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a routerLink="/my-announcements" routerLinkActive="active" clrDropdownItem>Moje Ogłoszenia</a>
            <a routerLink="/my-offers" routerLinkActive="active" clrDropdownItem>Moje Oferty</a>
            <a routerLink="/user-panel" routerLinkActive="active" clrDropdownItem>Ustawienia</a>
            <a routerLink="/comments" routerLinkActive="active" clrDropdownItem>Komentarze</a>
            <a routerLink="/logout" clrDropdownItem>Wyloguj</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        <a routerLink="./new-announcement" class="button btn btn-success">DODAJ OGŁOSZENIE +</a>
      </div>
    </div>
  </div>
</header>
