@import '~scss/base';

.app-name {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
  align-self: center;
  text-transform: uppercase;
  color: color-base('black');

  @include respond-above('large') {
    color: color-base('white');
  }
}

.mobile-btn {
  position: absolute;
  top: 5px;
  right: 0;

  @include respond-above('large') {
    display: none;
  }
}



.clr-dropdown {
  display: flex;
  align-self: stretch;

  a{
    align-self: center;
  }

  button,
  .button {
    outline: none;
  }
}

.header-nav {
  &-mobile {
    display: block;
    color: color-base('black');

    @include respond-above('large') {
      display: none;
    }
  }

  &-desktop {
    display: none;

    @include respond-above('large') {
      display: flex;
    }
  }
}

.header-actions {
  align-items: center;
}
