<div class="card card-image">
  <div class="card-block">
    <div class="card-title">
      Dziękujemy za dodanie ogloszenia !
    </div>
  </div>
</div>
<div class="card card-transparent">
  <div class="card-block">
    <div class="card-title">
      <p>Dodaj ogłoszenie <a routerLink="/ogloszenia/dodaj" routerLinkActive="active">	w tej samej kategorii</a></p>
      <p>Zobacz dodane <a [routerLink]="['/oferty', idAnnouncement]" routerLinkActive="active" >ogłoszenie</a></p>
      <p>Wróć na <a routerLink="/oferty" routerLinkActive="active">stronę główną</a></p>
    </div>
  </div>
</div>
