.score{
  text-align: center;
}

.negative:hover{
  color: red;
}

.negative{
  color: rgb(237, 237, 237);;
}


.positive:hover{
  color: green;
}

.positive{
  color: rgb(237, 237, 237);;
}

.row{
  margin-top: 30px;
}

