.main-container > * {
  position: relative;
}

.main-container:before {
  background: url(https://images.unsplash.com/photo-1444962668425-360f59fa2c24?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f74b6b67e21f816a065072aae27d29ff&auto=format&fit=crop&w=2467&q=80);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  content: '';
}
