@import 'settings/clear-style';
@import 'settings/mixin';
@import 'settings/breakpoint';
@import 'settings/variables';
@import 'settings/text-sizing';

.app-icon {
  @include icon;
}

body {
  background: color-base('white');
}

.card.card-no-shadow{
  box-shadow: unset;
  -webkit-box-shadow: unset;
}
